<form class="bg-light text-center col-md-8" action="/edit/{{toy._id}}" method="post">
   <div>
      <h1 class="text text-primary">Edit Toy</h1>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Name</label>
      <input class="form-control" type="text" name="name" value="{{ toy.name }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Brand</label>
      <input class="form-control" type="text" name="brand" value="{{ toy.brand }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Origin</label>
      <input class="form-control" type="text" name="origin" value="{{ toy.origin }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Material</label>
      <input class="form-control" type="text" name="material" value="{{ toy.material }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Quantity</label>
      <input class="form-control" type="number" name="quantity" value="{{ toy.quantity}}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Image</label><br>
      <img src="{{ toy.image}}" width="100" height="100"><br>
      <input class="form-control" type="text" name="image" value="{{toy.image }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Price</label><br>
      <input class="form-control" type="text" name="video" value="{{ toy.price }}" required>
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-danger" type="submit" value="Edit">
   </div>
</form>