{{!-- table.table-primary.text-center.bg-light.mt-3.mb-3>tr*3>th*8 --}}

<header>
   <button class="btn" value=""><a href="/back" style="text-decoration: none; color: black;">Back To Product Page</a></button>
   <button class="btn" value=""><a href="/bike" style="text-decoration: none; color: black;">Bike Management</a></button>
</header>

<table class="table table-primary text-center bg-light mt-3 mb-3" style="width: 100%; border-collapse: collapse;">
   <tr>
      <th class="h1 text text-danger" colspan="7" style="font-size: 24px; font-weight: bold; padding: 10px;">Toys List</th>
      <th>
         <a class="btn btn-success" href="/add" style="background-color: green; color: white; margin-right: 10px; text-decoration: none;">Add</a>
         <a class="btn btn-danger" href="/drop" onclick="return confirm('Are you sure to delete all toys ?');" style="background-color: red; color: white; text-decoration: none;">Drop</a>
      </th>
   </tr>
   <tr class="cot">
      <th style="background-color: red; color: white;">Name</th>
      <th style="background-color: red; color: white;">Brand</th>
      <th style="background-color: red; color: white;">Origin</th>
      <th style="background-color: red; color: white;">Material</th>
      <th style="background-color: red; color: white;">Quantity</th>
      <th style="background-color: red; color: white;">Image</th>
      <th style="background-color: red; color: white;">Price</th>
      <th style="color: brown;">Action</th>
   </tr>
   {{#each toys }}
   <tr>
      <th>{{ name }}</th>
      <th>{{ brand }}</th>
      <th>{{ origin }}</th>
      <th>{{ material}}</th>
      <th>{{ quantity}}</th>
      <th>
         <img class="zoom" src="{{ image }}" width="200" height="250">
      </th>
      <th>${{ price }}</th>
      <th>
         <a class="btn btn-warning" href="/edit/{{_id}}" style="background-color: orange; color: white; margin-right: 5px; text-decoration: none;">Edit</a>
         <a class="btn btn-danger" href="/delete/{{_id}}" onclick="return confirm('Are you sure to delete this toy ?');" style="background-color: red; color: white; text-decoration: none;">Delete</a>
      </th>
   </tr>
   {{/each}}
</table>
